<%= form_for(@profesor) do |f| %>
  <% if @profesor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profesor.errors.count, "error") %> prohibited this profesor from being saved:</h2>

      <ul>
      <% @profesor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profesor_rut %><br>
    <%= f.number_field :profesor_rut %>
  </div>
  <div class="field">
    <%= f.label :profesor_nombre %><br>
    <%= f.text_field :profesor_nombre %>
  </div>
  <div class="field">
    <%= f.label :profesor_apellido %><br>
    <%= f.text_field :profesor_apellido %>
  </div>
  <div class="field">
    <%= f.label :profesor_correo %><br>
    <%= f.text_field :profesor_correo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
