<p id="notice"><%= notice %></p>

<h1>Listing Profesors</h1>

<table>
  <thead>
    <tr>
      <th>Profesor rut</th>
      <th>Profesor nombre</th>
      <th>Profesor apellido</th>
      <th>Profesor correo</th>
      <th>Profesor contrasena</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesors.each do |profesor| %>
      <tr>
        <td><%= profesor.profesor_rut %></td>
        <td><%= profesor.profesor_nombre %></td>
        <td><%= profesor.profesor_apellido %></td>
        <td><%= profesor.profesor_correo %></td>
        <td><%= profesor.profesor_contrasena %></td>
        <td><%= link_to 'Show', profesor %></td>
        <td><%= link_to 'Edit', edit_profesor_path(profesor) %></td>
        <td><%= link_to 'Destroy', profesor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profesor', new_profesor_path %>
