<%= form_for(@encuestum) do |f| %>
  <% if @encuestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encuestum.errors.count, "error") %> prohibited this encuestum from being saved:</h2>

      <ul>
      <% @encuestum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :encuesta_id %><br>
    <%= f.number_field :encuesta_id %>
  </div>
  <div class="field">
    <%= f.label :encuesta_estado %><br>
    <%= f.check_box :encuesta_estado %>
  </div>
  <div class="field">
    <%= f.label :encuesta_nombre %><br>
    <%= f.text_field :encuesta_nombre %>
  </div>
  <div class="field">
    <%= f.label :encuesta_descripcion %><br>
    <%= f.text_field :encuesta_descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
